*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build

/captures
/buildsystem/keystore.properties
/buildsystem/qianghongbao.jks
/xbd
/app/src/production
app/src/main/java/com/carlos/grabredenvelope/local
/apk


*.iml
.gradle
/.gradle/
/local.properties
/.idea/
/.safedk/
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
out
.DS_Store
/build
/build/
/captures
.externalNativeBuild
.cxx
local.properties
/buildSrc/.gradle
/buildSrc/build
/android/build
*._*
*.~*
/encrypt_temp1/
/encrypt_temp2/
/android/Resources/
/assemble_tools/*.pyc
/Script/gen_language_helper/script/*.pyc
/Script/gen_language_helper/script/config/*.pyc
/Script/gen_language_helper/script/util/*.pyc
/Script/gen_language_helper/tmp
